html
	head
		title ShatUp!

		meta(charset='utf-8')
		meta(name='viewport', content='initial-scale=1.0')

		//- Polymer elements
		link(rel='import', href='/static/iron-flex-layout/iron-flex-layout.html')
		link(rel='import', href='/static/paper-button/paper-button.html')
		link(rel='import', href='/static/paper-input/paper-textarea.html')
		link(rel='import', href='/static/paper-item/paper-item.html')
		link(rel='import', href='/static/paper-listbox/paper-listbox.html')

		link(rel='import', href='/static/css/main.html')

	body
		paper-material#main_view.layout-container

			//- Contact list
			paper-listbox#people
				paper-item John
				paper-item Samantha
				paper-item Lucas
				paper-item Jade

			//- Chat body
			section#chat
				//- Message log
				section#messages
					div.incoming.message
						div.body Hi!
					div.outgoing.message
						div.body Hey! :)

				//- Text input
				div#input_line
					paper-textarea#input(label='New message', rows=2, max-rows=3)
					paper-button Send

