html
	head
		title ShatUp!

		meta(charset='utf-8')
		meta(name='viewport', content='initial-scale=1.0')

		link(rel='stylesheet', type='text/css', href='/static/css/main.css')
	body
		h1 Now ShatUp!

